*{
  font-family: 'Kiwi Maru', serif;
  background-color: #222222;
  color: lightsteelblue;
  text-decoration: none;
}
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px){
  /*phone styles*/
  html {
    color: #222;
    font-size: 16px;
    line-height: 1.4;
    scroll-behavior: smooth;
  }

}
@media only screen
and (min-device-width: 1200px)
{
  /*PC styles*/
  html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    scroll-behavior: smooth;
  }

  a:hover{
    color: lightgray;
  }
  #hlavicka{
    margin-bottom: 30px;
    text-align: center;
  }
  #hlavickatext{
    color: white;
    font-size: x-large;
  }
  #sidebar{
    position: fixed;
    height: 100%;
    width: 200px;
  }
  ul{
    border-top: whitesmoke;
    border-top-style: solid;
    padding-top: 20px;
  }
  li{
    text-decoration: none;
    text-transform: lowercase;
    list-style-type: none;
  }
  #main{
    margin-left: 200px;
    padding: 0 10px;
    width: auto;
  }
  #predstaveni{
    color: lightsteelblue;
  }
  .submenuNadpis {
    margin-top: 10px;
    margin-bottom: 20px;
    display: inline-block;
  }
  button:hover{
    cursor: pointer;
  }
  /*
  Projekty skryvany a zobrazovany pres JS funkci, zde pouze pocatecni stav
  */
  #projekt2{
    display: block;
  }
  #projekt1, #projekt3{
    display: none;
  }
  .projectName a{
    color: steelblue;
  }
  .projectName{
    padding-bottom: 10px;
  }
  .projectComment{
    padding-bottom: 40px;
  }
  .github{
    text-decoration-line: underline;
    margin-top: 15px;
  }

  .sekce{
    /*
  Zobrazeni jedne sekce pres cely  monitor
  */
    height: 70vh;
    padding-top: 30vh;
  }
  .nadpisSekce span{
    color: #222222;
    background-color: white;
    font-weight: bolder;
    font-size: 30px;
    text-transform: lowercase;
  }
  #name{
    font-size: 60px;
    text-align: left;
  }
  .popis{
    padding-right: 30%;
    padding-bottom: 25px;
    color: white;
  }
  #kontaktuj{
    text-align: center;
    font-size: 50px;
  }
  #head{
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
  }
  img{
    padding-top: 15px;
    width: 80px;
  }

  /*scrollbar style*/
  ::-webkit-scrollbar {
    width: 10px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: lightsteelblue;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: white;
  }

}
