# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\heinz\OneDrive - Vysoké učení technické v Brně\FIT\4.semestr\ITW\ITWpersonalPage\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
